body{
   background-color: yellow ;
}

h1{
   text-align: center;
   background-color: orangered ;
   color: yellow;
}

main{
    font-size: 20px ;
    color: yellow;
    background-color: orangered;
}

table, td{
    border: 2px solid orangered;
    color: orangered;
}

.marquee-infinite div{
     width:100%;
     display: flex;
     justify-content: space-around;
    }

.marquee-infinite img{
     width:100%;
     display: flex;
     justify-content: space-around;
    }

  .marquee-infinite div{
      display: flex;
      width:200%;
      animation: marquee-infinite 9s linear infinite;
  }  

  @keyframes marquee-infinite{
      0%{
          transform: translateX(100%);
      }
      100%{
          transform: translateX(-100%);
      }
  }

  .marquee-infinite{
      margin: 30px auto;
      border: 1px solid #000;
      max-width: 80%;
      overflow: hidden;
  }

  .marquee-infinite div{
  display: flex;
  width: 200%;
  }
